.wrapper {
  .backBtn {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    background-color: gray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .body {
    padding: 40px;
    display: flex;
  }

  .imageCon {
    height: 90vh;
    min-width: 300px;
    background-color: #c7c7c733;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
    }
  }

  .content {
    margin-left: 16px;

    .name {
      font-size: 48px;
    }
    .id {
      font-size: 18px;
      font-weight: 400;
    }

    .title {
      margin: 28px 0 12px;
      font-size: 24px;
    }
  }
}
